
<!-- Page Content -->
<div class="container">

	<!-- Page Header -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Add an Item <small>for auction</small>
			</h1>
		</div>
	</div>
	<br />

	<form class="form-horizontal" style="width: 1000px""height: 500px">
		<fieldset>
			<div class="form-group">
				<label for="input" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input ng-model="newItem.name" type="text" class="form-control"
						id="inputName" placeholder="Name" style="height: 30px"
						maxlength="40" required>

				</div>
			</div>
			<div class="form-group">
				<label for="inputBaseprice" class="col-lg-2 control-label">Base
					Price</label>
				<div class="col-lg-10">
					<input ng-model="newItem.basePrice" type="number"
						class="form-control" id="inputPassword"
						placeholder="Base Price in Dollars" style="height: 30px" required>

				</div>
			</div>
			<div class="form-group">

				<label for="textArea" class="col-lg-2 control-label">Description</label>
				<div class="col-lg-10">

					<textarea ng-model="newItem.description" class="form-control"
						rows="3" id="textArea"
						placeholder="Enter the Description for your Item." required></textarea>
					<span class="help-block"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="inputTime" class="col-lg-2 control-label"">Start
					time</label>
				<div id="datetimepicker" class="col-lg-10">

					<input ng-model="newItem.startsAt" type="text"
						placeholder="Start time for auction" required> <span
						class="add-on"> <i data-time-icon="icon-time"
						data-date-icon="icon-calendar"></i>
					</span> &nbsp&nbsp&nbsp <input type="checkbox" name="auction"
						value="immediate">&nbsp&nbsp&nbspStart Immediately
				</div>
			</div>


			<div class="form-group">
				<label for="input" class="col-lg-2 control-label"
					style="height: 30px">Duration</label>
				<div class="col-lg-10">

					<select class="form-control" id="select">
						<option>2 hours</option>
						<option>4 hours</option>
						<option>6 hours</option>
						<option>8 hours</option>
						<option>10 hours</option>
					</select>

				</div>
			</div>

			<div class="form-group">
				<label for="select" class="col-lg-2 control-label"
					style="height: 30px">Select Category</label>

				<div class="col-lg-10">
					<select class="form-control" id="select">
						<option>Electronics</option>
						<option>Fashion</option>
						<option>Home Goods</option>
						<option>Jewelry</option>
						<option>Fine Art</option>
					</select>

				</div>
			</div>

			<div class="form-group">
				<label for="exampleInputFile" class="col-lg-2 control-label">Image</label>
				<div class="col-lg-10">
					<input type="file" name="img" multiple>
				</div>
			</div>
			<br>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button ng-click="addItem()" type="submit" class="button">Submit</button>
					&nbsp&nbsp
					<button type="reset" class="button">Cancel</button>
				</div>
			</div>
		</fieldset>
	</form>