
<!-- Page Content -->
<div class="container">

	<!-- Page Header -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Edit Details <small>of an item</small>
			</h1>
		</div>
	</div>
	<br />

	<form class="form-horizontal" style="width: 1000px; height: 500px">
		<fieldset>
			<div class="form-group">
				<label for="input" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input ng-model="auction.name" value="{{auction.name}}" type="text"
						class="form-control" id="inputName" placeholder="Name"
						style="height: 30px" maxlength="40" required>

				</div>
			</div>

			<div class="form-group">
				<label for="inputBaseprice" class="col-lg-2 control-label">Base
					Price</label>
				<div class="col-lg-10">
					<input ng-model="auction.basePrice" value="{{auction.basePrice}}"
						type="number" class="form-control" id="inputPassword"
						placeholder="Base Price in Dollars" style="height: 30px" required>

				</div>
			</div>
			<div class="form-group">

				<label for="textArea" class="col-lg-2 control-label">Description</label>
				<div class="col-lg-10">

					<textarea ng-model="auction.description" value="{{auction.basePrice}}" class="form-control"
						rows="3" id="textArea"
						placeholder="Enter the Description for your Item." required>"{{auction.description}}"</textarea>
					<span class="help-block"></span>
				</div>
			</div>

			<div ng-controller="DatepickerDemoCtrl" class="form-group">
				<label for="StartDate" class="col-lg-2 control-label">Start
					Date</label>
				<div class="row">
					<div class="col-md-6">
						<p class="input-group">
							<input type="text" class="form-control"
								datepicker-popup="{{format}}" ng-model="auction.startsAt" 
								is-open="opened" min-date="minDate" max-date="'2015-06-22'"
								datepicker-options="dateOptions"
								date-disabled="disabled(date, mode)" ng-required="true"
								close-text="Close" /> <span class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
					</div>
				</div>


			<div ng-controller="TimepickerDemoCtrl">
					<label for="StartTime" class="col-lg-2 control-label">Start
						Time</label>
					<timepicker ng-model="startTime" ng-change="changed()" hour-step="hstep"
						minute-step="mstep" show-meridian="ismeridian"></timepicker>

				</div>
				<br>

				<div ng-controller="TimepickerDemoCtrl">
					<label for="Duration" class="col-lg-2 control-label">Duration</label>
					<timepicker ng-model="Duration" ng-change="changed()" hour-step="hstep"
						minute-step="mstep" show-meridian="false"></timepicker>

				</div>

			<div class="form-group">
				<label for="select" class="col-lg-2 control-label"
					style="height: 30px">Select Category</label>

				<div class="col-lg-10">
					<select class="form-control" id="select">
						<option>Electronics</option>
						<option>Fashion</option>
						<option>Home Goods</option>
						<option>Jewelry</option>
						<option>Fine Art</option>
					</select>

				</div>
			</div>

			<div class="form-group">
				<label for="exampleInputFile" class="col-lg-2 control-label">Image</label>
				<div class="col-lg-10">
					<div
						flow-init="{target: '/desibazaar-rest/upload', testChunks:false, singleFile:true}"
						flow-name="flow.images" ng-controller="ImageUpload">
						<input type="file" flow-btn /> <br> <img ng-show="uploaded"
							style="width: 250px; height: 250px" flow-img="$flow.files[0]" />
						<br>
					</div>
				</div>

			<br>
			<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button ng-click="editItem()" type="submit" class="button">Save</button>
						&nbsp&nbsp
					
					</div>
				</div>

		</fieldset>
	</form>
</div>

<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		//language:  'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 1
	});
	$('.form_date').datetimepicker({
		language : 'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		minView : 2,
		forceParse : 0
	});
	$('.form_time').datetimepicker({
		language : 'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 1,
		minView : 0,
		maxView : 1,
		forceParse : 0
	});
</script>
