
<!-- Page Content -->
<div class="container">

	<!-- Page Header -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Purchases <small>Things you own</small>
			</h1>
		</div>
	</div>
	<br />
	<!-- /.row -->

	<!-- Projects Row -->

	<div class="row">
		<div ng-repeat="auction in purchases | orderBy:'startsAt':false">
			<div class="col-sm -3 col-md-6 col-lg-4" style="text-align: center">
				<div>
					<a href="#/purchaseDetails/{{auction.itemId}}"> <img
						class="img-responsive" src="{{auction.image}}" alt=""
						style="width: 350px; height: 200px">
					</a>
				</div>
				<div>
					<h3>
						<a href="#/purchaseDetails/{{auction.itemId}}">{{ auction.name
							}}</a>

					</h3>
				</div>
				<hr>
				<div>
					<p style="text-align: left">$ {{auction.sellingPrice}}</p>
				</div>
				<div>
					<p style="text-align: left">
						{{auction.description | limitTo : 110}} <a
							href="#/purchaseDetails/{{auction.itemId}}">Read more</a>
					</p>
				</div>
				<br />
			</div>
			<!-- /.row -->
		</div>
	</div>

</div>
<!-- /.container -->
